<%- include('header') %>
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5">
                <% for(let i=0; i<students.length; i++){ %>

                    <div class="card p-3 mt-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <p class="my-0"><%= students[i].name %></p>
                                <p class="my-0 ms-2"><%= students[i].email %></p>
                            </div>
                            <div class="">
                                <form action="/edit" method="post">
                                  <input type="hidden" name="id" value="<%= students[i]._id %>">
                                  <button type="submit" class="link text-primary">Edit</button>
                                </form>
                                <form action="/delete" method="post">
                                  <input type="hidden" name="id" value="<%= students[i]._id %>">
                                  <button type="submit" class="link text-danger">Delete</button>
                                </form>
                                
                            </div>
                        </div>
                    </div>

                    <%}%>
            </div>
        </div>
      </div>


</body>
</html>